<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (c) 2017～2099 Cowave All Rights Reserved.

    For licensing information, please contact: https://www.cowave.com.

    This code is proprietary and confidential.
    Unauthorized copying of this file, via any medium is strictly prohibited.

-->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.sys.resource.api.mapper.BeamMapper">

    <sql id="beamField">
        b.sat_id       satId,
        b.beam_id      beamId,
        b.beam_name    beamName,
        b.beam_version beamVersion,
        b.beam_type    beamType,
        b.beam_antenna beamAntenna,
        b.freq_type    freqType,
        b.longitude,
        b.latitude,
        b.radius,
        b.eirp,
        b.gt,
        b.angle_edge   angleEdge,
        b.angle,
        b.coverage,
        b.coverage_area     coverageArea,
        b.move_flag         moveFlag,
        b.work_mode         workMode,
        b.create_user as    createUser,
        b.create_username   createUsername,
        b.create_dept       createDept,
        b.create_deptname   createDeptname,
        b.create_time       createTime,
        b.update_user       updateUser,
        b.update_username   updateUsername,
        b.update_dept       updateDept,
        b.update_deptname   updateDeptname,
        b.update_time       updateTime
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="beamId" keyColumn="beam_id">
        insert into info_beam(sat_id,
                              beam_name,
                              beam_type,
                              beam_antenna,
                              freq_type,
                              longitude,
                              latitude,
                              radius,
                              eirp,
                              gt,
                              angle_edge,
                              angle,
                              coverage,
                              coverage_area,
                              move_flag,
                              work_mode,
                              create_user,
                              create_username,
                              create_dept,
                              create_deptname,
                              create_time,
                              update_user,
                              update_username,
                              update_dept,
                              update_deptname,
                              update_time)
        values(#{satId},
               #{beamName},
               #{beamType},
               #{beamAntenna},
               #{freqType},
               #{longitude},
               #{latitude},
               #{radius},
               #{eirp},
               #{gt},
               #{angleEdge},
               #{angle},
               #{coverage},
               #{coverageArea},
               #{moveFlag},
               #{workMode},
               #{accessUser},
               #{accessUsername},
               #{accessDept},
               #{accessDeptname},
               #{accessTime},
               #{accessUser},
               #{accessUsername},
               #{accessDept},
               #{accessDeptname},
               #{accessTime})
    </insert>

    <update id="update">
        update info_beam set sat_id    = #{satId},
                             beam_name = #{beamName},
                             beam_type = #{beamType},
                             beam_antenna = #{beamAntenna},
                             freq_type = #{freqType},
                             longitude = #{longitude},
                             latitude  = #{latitude},
                             radius = #{radius},
                             eirp   = #{eirp},
                             gt     = #{gt},
                             angle_edge = #{angleEdge},
                             angle      = #{angle},
                             coverage   = #{coverage},
                             coverage_area = #{coverageArea},
                             move_flag     = #{moveFlag},
                             work_mode     = #{workMode},
                             beam_version  = beam_version + 1,
                             update_user     =  #{accessUser},
                             update_username =  #{accessUsername},
                             update_dept     =  #{accessDept},
                             update_deptname =  #{accessDeptname},
                             update_time     =  #{accessTime}
        where beam_id = #{beamId}
    </update>

    <update id="updateUpPool">
        update resource_pool
        set up_beam_name = t.beam_name,
            up_beam_type = t.beam_type,
            up_beam_version  = t.beam_version,
            up_beam_coverage = t.coverage,
            update_user     =  #{accessUser},
            update_username =  #{accessUsername},
            update_dept     =  #{accessDept},
            update_deptname =  #{accessDeptname},
            update_time     =  #{accessTime}
        from(select beam_name, beam_type, coverage, beam_version from info_beam where beam_id = #{beamId}) t
        where up_beam_id = #{beamId}
    </update>

    <update id="updateDownPool">
        update resource_pool
        set down_beam_name = t.beam_name,
            down_beam_type = t.beam_type,
            down_beam_version  = t.beam_version,
            down_beam_coverage = t.coverage,
            update_user     =  #{accessUser},
            update_username =  #{accessUsername},
            update_dept     =  #{accessDept},
            update_deptname =  #{accessDeptname},
            update_time     =  #{accessTime}
        from(select beam_name, beam_type, coverage, beam_version from info_beam where beam_id = #{beamId}) t
        where down_beam_id = #{beamId}
    </update>

    <delete id="delete">
        delete from info_beam where beam_id = #{beamId}
    </delete>

    <select id="existTspdName" resultType="String">
        select t.tspd_name from(select tspd_name from info_transponder where up_beam_id = #{beamId}
                    union all select tspd_name from info_transponder where down_beam_id = #{beamId}
        ) t limit 1
    </select>

    <select id="info" resultType="com.cowave.sys.model.resource.Beam">
        select
        s.sat_name     satName,
        <include refid="beamField"/>
        from info_beam b, info_satellite s
        where b.beam_id = #{beamId} and b.sat_id = s.sat_id
    </select>
</mapper>








