<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (c) 2017～2099 Cowave All Rights Reserved.

    For licensing information, please contact: https://www.cowave.com.

    This code is proprietary and confidential.
    Unauthorized copying of this file, via any medium is strictly prohibited.

-->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.sys.resource.api.mapper.PoolMapper">

    <sql id="poolField">
        p.id                  id,
        p.src_id              srcId,
        p.src_status          srcStatus,
        p.src_type            srcType,
        p.sat_id              satId,
        p.sat_name            satName,
        p.down_beam_id        downBeamId,
        p.down_beam_name      downBeamName,
        p.down_tunnel_id      downTunnelId,
        p.down_tunnel_name    downTunnelName,
        p.tspd_id             tspdId,
        p.tspd_name           tspdName,
        p.up_beam_id          upBeamId,
        p.up_beam_name        upBeamName,
        p.up_tunnel_id        upTunnelId,
        p.up_tunnel_name      upTunnelName,
        p.sat_version         satVersion,
        p.tspd_version        tspdVersion,
        p.up_beam_version     upBeamVersion,
        p.up_tunnel_version   upTunnelVersion,
        p.down_beam_version   downBeamVersion,
        p.down_tunnel_version downTunnelVersion,
        p.time_begin          timeBegin,
        p.time_end            timeEnd,
        p.timewidth,
        p.down_freq_begin     downFreqBegin,
        p.down_freq_end       downFreqEnd,
        p.bandwidth,
        p.freq_diff           freqDiff,
        p.up_freq_begin       upFreqBegin,
        p.up_freq_end         upFreqEnd,
        p.usage_unit          usageUnit,
        p.sfd,
        p.sfp,
        p.erip,
        p.gt,
        p.cbi,
        p.cbo,
        p.gain,
        p.compensate_in       compensateIn,
        p.compensate_out      compensateOut,
        p.tspd_type           tspdType,
        p.down_beam_type      downBeamType,
        p.down_tunnel_type    downTunnelType,
        p.down_freq_type      downFreqType,
        p.down_polarization   downPolarization,
        p.up_beam_type        upBeamType,
        p.up_tunnel_type      upTunnelType,
        p.up_freq_type        upFreqType,
        p.up_polarization     upPolarization,
        p.occupy_dept         occupyDept,
        p.occupy_deptname     occupyDeptname,
        p.owner_dept          ownerDept,
        p.owner_deptname      ownerDeptname,
        p.from_dept           fromDept,
        p.form_deptname       formDeptname,
        p.form_time           formTime,
        p.form_usage          formUsage,
        p.form_flow           formFlow,
        p.form_task           formTask,
        p.form_duty           formDuty,
        p.create_user as    createUser,
        p.create_username   createUsername,
        p.create_dept       createDept,
        p.create_deptname   createDeptname,
        p.create_time       createTime,
        p.update_user       updateUser,
        p.update_username   updateUsername,
        p.update_dept       updateDept,
        p.update_deptname   updateDeptname,
        p.update_time       updateTime
    </sql>

    <insert id="createByTspd" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into resource_pool(src_id,
                                  tspd_id,
                                  tspd_name,
                                  tspd_version,
                                  tspd_type,
                                  sat_id,
                                  time_begin,
                                  time_end,
                                  up_beam_id,
                                  up_tunnel_id,
                                  up_polarization,
                                  down_beam_id,
                                  down_tunnel_id,
                                  down_polarization,
                                  freq_diff,
                                  sfd,
                                  sfp,
                                  erip,
                                  gt,
                                  cbi,
                                  cbo,
                                  gain,
                                  compensate_in,
                                  compensate_out,
                                  create_user,
                                  create_username,
                                  create_dept,
                                  create_deptname,
                                  create_time,
                                  update_user,
                                  update_username,
                                  update_dept,
                                  update_deptname,
                                  update_time)
        select nextval('sequence_src'),
               tspd_id,
               tspd_name,
               tspd_version,
               tspd_type,
               sat_id,
               #{timeBegin},
               #{timeEnd},
               up_beam_id,
               up_tunnel_id,
               up_polarization,
               down_beam_id,
               down_tunnel_id,
               down_polarization,
               freq_diff,
               sfd,
               sfp,
               erip,
               gt,
               cbi,
               cbo,
               gain,
               compensate_in,
               compensate_out,
               #{accessUser},
               #{accessUsername},
               #{accessDept},
               #{accessDeptname},
               #{accessTime},
               #{accessUser},
               #{accessUsername},
               #{accessDept},
               #{accessDeptname},
               #{accessTime}
        from info_transponder where info_transponder.tspd_id = #{tspdId}
    </insert>

    <update id="fillSatellite">
        update resource_pool set sat_name = t.sat_name, sat_version = t.sat_version
        from (select s.sat_name, s.sat_version
              from info_satellite s, resource_pool p where p.id = #{id} and p.sat_id = s.sat_id) t
        where id = #{id}
    </update>

    <update id="fillUpBeam">
        update resource_pool set up_beam_name = t.beam_name, up_beam_version = t.beam_version, up_beam_type = t.beam_type
        from (select b.beam_name, b.beam_version, b.beam_type
              from info_beam b, resource_pool p where p.id = #{id} and p.up_beam_id = b.beam_id) t
        where id = #{id}
    </update>

    <update id="fillDownBeam">
        update resource_pool set down_beam_name = t.beam_name, down_beam_version = t.beam_version, down_beam_type = t.beam_type
            from (select b.beam_name, b.beam_version, b.beam_type
              from info_beam b, resource_pool p where p.id = #{id} and p.down_beam_id = b.beam_id) t
        where id = #{id}
    </update>

    <update id="fillUpTunnel">
        update resource_pool set up_tunnel_name    = t.tunnel_name,
                                 up_tunnel_version = t.tunnel_version,
                                 up_tunnel_type  = t.tunnel_type,
                                 up_freq_begin = t.freq_begin,
                                 up_freq_end   = t.freq_end,
                                 up_freq_type  = t.freq_type
        from (select t.tunnel_name, t.tunnel_version, t.tunnel_type, t.freq_begin, t.freq_end, t.freq_type
              from info_tunnel t, resource_pool p where p.id = #{id} and p.up_tunnel_id = t.tunnel_id) t
        where id = #{id}
    </update>

    <update id="fillDownTunnel">
        update resource_pool set down_tunnel_name    = t.tunnel_name,
                                 down_tunnel_version = t.tunnel_version,
                                 down_tunnel_type    = t.tunnel_type,
                                 down_freq_begin = t.freq_begin,
                                 down_freq_end   = t.freq_end,
                                 down_freq_type  = t.freq_type,
                                 usage_unit      = t.usage_unit
            from (select t.tunnel_name, t.tunnel_version, t.tunnel_type, t.freq_begin, t.freq_end, t.freq_type, t.usage_unit
                  from info_tunnel t, resource_pool p where p.id = #{id} and p.down_tunnel_id = t.tunnel_id) t
        where id = #{id}
    </update>

    <delete id="delete">
        delete from resource_pool where id = #{id}
    </delete>

    <select id="treePools" resultType="com.cowave.sys.model.resource.ResourcePool">
        select distinct on(tspd_id)
               sat_id   satId,
               sat_name satName,
               down_beam_id   downBeamId,
               down_beam_name downBeamName,
               tspd_id   tspdId,
               tspd_name tspdName
        from resource_pool
    </select>

    <select id="queryByTspdId" resultType="com.cowave.sys.model.resource.ResourcePool">
        select
        <include refid="poolField"/>
        from resource_pool p where p.tspd_id = #{tspdId}
    </select>

    <select id="availablePool" resultType="com.cowave.sys.model.resource.ResourcePool">
        select
        <include refid="poolField"/>
        from resource_pool p
        <![CDATA[
        where src_status < 100
          and tspd_id = #{tspdId}
          and time_begin <= #{timeBegin} and time_end >= #{timeEnd}
          and down_freq_begin <= #{freqEnd} and down_freq_end >= #{freqBegin}
        ]]>
        order by down_freq_begin
    </select>

    <select id="countPoolUsages" resultType="java.lang.Integer">
        select count(1)
        from resource_pool p, resource_usage u
        <![CDATA[
        where p.src_id = #{srcId} and p.src_id = u.src_id and u.usage_status < 500
        ]]>
    </select>

    <update id="updateStatus">
        update resource_pool set src_status = #{srcStatus} where src_id = #{srcId}
    </update>

</mapper>








