<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (c) 2017～2099 Cowave All Rights Reserved.

    For licensing information, please contact: https://www.cowave.com.

    This code is proprietary and confidential.
    Unauthorized copying of this file, via any medium is strictly prohibited.

-->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.sys.resource.api.mapper.TransponderMapper">

    <sql id="tspdField">
        t.tspd_id      tspdId,
        t.tspd_name    tspdName,
		t.tspd_version tspdVersion,
		t.tspd_type            tspdType,
        t.tspd_status          tspdStatus,
        t.up_polarization      upPolarization,
        t.down_polarization    downPolarization,
        t.freq_diff            freqDiff,
        t.sfd,
        t.sfp,
        t.erip,
        t.gt,
        t.cbi,
        t.cbo,
        t.gain,
        t.sat_id          satId,
		t.up_beam_id      upBeamId,
		t.down_beam_id    downBeamId,
		t.up_tunnel_id    upTunnelId,
		t.down_tunnel_id  downTunnelId,
		t.compensate_in   compensateIn,
		t.compensate_out  compensateOut,
        t.create_user as    createUser,
        t.create_username   createUsername,
        t.create_dept       createDept,
        t.create_deptname   createDeptname,
        t.create_time       createTime,
        t.update_user       updateUser,
        t.update_username   updateUsername,
        t.update_dept       updateDept,
        t.update_deptname   updateDeptname,
        t.update_time       updateTime
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="tspdId" keyColumn="tspd_id">
        insert into info_transponder(tspd_name,
                                     tspd_type,
                                     tspd_status,
                                     sat_id,
                                     up_beam_id,
                                     up_tunnel_id,
                                     up_polarization,
                                     down_beam_id,
                                     down_tunnel_id,
                                     down_polarization,
                                     sfd,
                                     sfp,
                                     erip,
                                     gt,
                                     cbi,
                                     cbo,
                                     gain,
                                     compensate_in,
                                     compensate_out,
                                     create_user,
                                     create_username,
                                     create_dept,
                                     create_deptname,
                                     create_time,
                                     update_user,
                                     update_username,
                                     update_dept,
                                     update_deptname,
                                     update_time)
        values(#{tspdName},
               #{tspdType},
               #{tspdStatus},
               #{satId},
               #{upBeamId},
               #{upTunnelId},
               #{upPolarization},
               #{downBeamId},
               #{downTunnelId},
               #{downPolarization},
               #{sfd},
               #{sfp},
               #{erip},
               #{gt},
               #{cbi},
               #{cbo},
               #{gain},
               #{compensateIn},
               #{compensateOut},
               #{accessUser},
               #{accessUsername},
               #{accessDept},
               #{accessDeptname},
               #{accessTime},
               #{accessUser},
               #{accessUsername},
               #{accessDept},
               #{accessDeptname},
               #{accessTime})
    </insert>

    <update id="update">
        update info_transponder set tspd_name    = #{tspdName},
                                    tspd_type    = #{tspdType},
                                    tspd_status  = #{tspdStatus},
                                    sat_id       = #{satId},
                                    up_beam_id   = #{upBeamId},
                                    up_tunnel_id = #{upTunnelId},
                                    up_polarization   = #{upPolarization},
                                    down_beam_id      = #{downBeamId},
                                    down_tunnel_id    = #{downTunnelId},
                                    down_polarization = #{downPolarization},
                                    sfd  = #{sfd},
                                    sfp  = #{sfp},
                                    erip = #{erip},
                                    gt   = #{gt},
                                    cbi  = #{cbi},
                                    cbo  = #{cbo},
                                    gain = #{gain},
                                    compensate_in  = #{compensateIn},
                                    compensate_out = #{compensateOut},
                                    tspd_version = tspd_version + 1,
                                    update_user     =  #{accessUser},
                                    update_username =  #{accessUsername},
                                    update_dept     =  #{accessDept},
                                    update_deptname =  #{accessDeptname},
                                    update_time     =  #{accessTime}
        where tspd_id = #{tspdId}
    </update>

    <delete id="delete">
        delete from info_transponder where tspd_id = #{tspdId}
    </delete>

    <select id="existInPool" resultType="Long">
        select id from resource_pool where tspd_id = #{tspdId}
    </select>

    <select id="ensureSatellite" resultType="java.lang.Integer">
        select sat_id from info_satellite where sat_id = #{satId}
    </select>

    <select id="ensureBeam" resultType="java.lang.Integer">
        select beam_id from info_beam where beam_id = #{beamId}
    </select>

    <select id="ensureTunnel" resultType="java.lang.Integer">
        select tunnel_id from info_tunnel where tunnel_id = #{tunnelId}
    </select>

    <update id="updateFreqDiff">
        with uptunnel as (select freq_begin from info_tunnel where tunnel_id = #{upTunnelId}),
             downtunnel as (select freq_begin from info_tunnel where tunnel_id = #{downTunnelId})
        update info_transponder set freq_diff = uptunnel.freq_begin - downtunnel.freq_begin
            from uptunnel, downtunnel where info_transponder.tspd_id = #{tspdId}
    </update>

    <update id="updatePool">
        update resource_pool
        set tspd_name    = t.tspd_name,
            tspd_version = t.tspd_version,
            tspd_type    = t.tspd_type,
            up_polarization   = t.up_polarization,
            down_polarization = t.down_polarization,
            freq_diff = t.freq_diff,
            sfd  = t.sfd,
            sfp  = t.sfp,
            erip = t.erip,
            gt   = t.gt,
            cbi  = t.cbi,
            cbo  = t.cbo,
            gain = t.gain,
            compensate_in  = t.compensate_in,
            compensate_out = t.compensate_out,
            update_user     =  #{accessUser},
            update_username =  #{accessUsername},
            update_dept     =  #{accessDept},
            update_deptname =  #{accessDeptname},
            update_time     =  #{accessTime}
        from(select tspd_name,
					tspd_version,
					tspd_type,
					up_polarization,
					down_polarization,
					freq_diff,
					sfd,
					sfp,
					erip,
					gt,
					cbi,
					cbo,
					gain,
					compensate_in,
					compensate_out
			from info_transponder where tspd_id = #{tspdId}) t
        where tspd_id = #{tspdId}
    </update>

    <select id="info" resultType="com.cowave.sys.model.resource.Transponder">
        select
        s.sat_name     satName,
        b1.beam_name   upBeamName,
        b2.beam_name   downBeamName,
        t1.tunnel_name upTunnelName,
        t2.tunnel_name downTunnelName,
        <include refid="tspdField"/>
        from info_transponder t
        left join info_satellite s on t.sat_id = s.sat_id
        left join info_beam b1 on t.up_beam_id = b1.beam_id
        left join info_beam b2 on t.down_beam_id = b2.beam_id
        left join info_tunnel t1 on t.up_tunnel_id = t1.tunnel_id
        left join info_tunnel t2 on t.down_tunnel_id = t2.tunnel_id
        where t.tspd_id = #{tspdId}
    </select>

    <select id="satelliteQuery" resultType="com.cowave.sys.model.resource.Transponder">
        select
        s.sat_name     satName,
        b1.beam_name   upBeamName,
        b2.beam_name   downBeamName,
        t1.tunnel_name upTunnelName,
        t2.tunnel_name downTunnelName,
        <include refid="tspdField"/>
        from info_transponder t
        left join info_satellite s on t.sat_id = s.sat_id
        left join info_beam b1 on t.up_beam_id = b1.beam_id
        left join info_beam b2 on t.down_beam_id = b2.beam_id
        left join info_tunnel t1 on t.up_tunnel_id = t1.tunnel_id
        left join info_tunnel t2 on t.down_tunnel_id = t2.tunnel_id
        where t.sat_id = #{satId}
    </select>

    <select id="beamQuery" resultType="com.cowave.sys.model.resource.Transponder">
        select
        s.sat_name     satName,
        b1.beam_name   upBeamName,
        b2.beam_name   downBeamName,
        t1.tunnel_name upTunnelName,
        t2.tunnel_name downTunnelName,
        <include refid="tspdField"/>
        from info_transponder t
        left join info_satellite s on t.sat_id = s.sat_id
        left join info_beam b1 on t.up_beam_id = b1.beam_id
        left join info_beam b2 on t.down_beam_id = b2.beam_id
        left join info_tunnel t1 on t.up_tunnel_id = t1.tunnel_id
        left join info_tunnel t2 on t.down_tunnel_id = t2.tunnel_id
        where t.up_beam_id = #{beamId} or t.down_beam_id = #{beamId}
    </select>

    <select id="tunnelQuery" resultType="com.cowave.sys.model.resource.Transponder">
        select
        s.sat_name     satName,
        b1.beam_name   upBeamName,
        b2.beam_name   downBeamName,
        t1.tunnel_name upTunnelName,
        t2.tunnel_name downTunnelName,
        <include refid="tspdField"/>
        from info_transponder t
        left join info_satellite s on t.sat_id = s.sat_id
        left join info_beam b1 on t.up_beam_id = b1.beam_id
        left join info_beam b2 on t.down_beam_id = b2.beam_id
        left join info_tunnel t1 on t.up_tunnel_id = t1.tunnel_id
        left join info_tunnel t2 on t.down_tunnel_id = t2.tunnel_id
        where t.up_tunnel_id = #{tunnelId} or t.down_tunnel_id = #{tunnelId}
    </select>

</mapper>








