<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (c) 2017～2099 Cowave All Rights Reserved.

    For licensing information, please contact: https://www.cowave.com.

    This code is proprietary and confidential.
    Unauthorized copying of this file, via any medium is strictly prohibited.

-->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.sys.resource.api.mapper.UsageMapper">

    <sql id="usageField">
        u.id                  id,
        u.usage_id            usageId,
        u.usage_status        usageStatus,
        u.usage_type          usageType,
        u.sat_id              satId,
        u.sat_name            satName,
        u.down_beam_id        downBeamId,
        u.down_beam_name      downBeamName,
        u.down_tunnel_id      downTunnelId,
        u.down_tunnel_name    downTunnelName,
        u.tspd_id             tspdId,
        u.tspd_name           tspdName,
        u.up_beam_id          upBeamId,
        u.up_beam_name        upBeamName,
        u.up_tunnel_id        upTunnelId,
        u.up_tunnel_name      upTunnelName,
        u.sat_version         satVersion,
        u.tspd_version        tspdVersion,
        u.up_beam_version     upBeamVersion,
        u.up_tunnel_version   upTunnelVersion,
        u.down_beam_version   downBeamVersion,
        u.down_tunnel_version downTunnelVersion,
        u.time_begin          timeBegin,
        u.time_end            timeEnd,
        u.timewidth,
        u.down_freq_begin     downFreqBegin,
        u.down_freq_end       downFreqEnd,
        u.bandwidth,
        u.freq_diff           freqDiff,
        u.up_freq_begin       upFreqBegin,
        u.up_freq_end         upFreqEnd,
        u.usage_unit          usageUnit,
        u.sfd,
        u.sfp,
        u.erip,
        u.gt,
        u.cbi,
        u.cbo,
        u.gain,
        u.compensate_in       compensateIn,
        u.compensate_out      compensateOut,
        u.tspd_type           tspdType,
        u.down_beam_type      downBeamType,
        u.down_tunnel_type    downTunnelType,
        u.down_freq_type      downFreqType,
        u.down_polarization   downPolarization,
        u.up_beam_type        upBeamType,
        u.up_tunnel_type      upTunnelType,
        u.up_freq_type        upFreqType,
        u.up_polarization     upPolarization,
        u.src_id              srcId,
        u.src_type            srcType,
        u.occupy_dept         occupyDept,
        u.occupy_deptname     occupyDeptname,
        u.owner_dept          ownerDept,
        u.owner_deptname      ownerDeptname,
        u.from_dept           fromDept,
        u.form_deptname       formDeptname,
        u.form_time           formTime,
        u.form_usage          formUsage,
        u.form_flow           formFlow,
        u.form_task           formTask,
        u.form_duty           formDuty,
        u.merge_id            mergeId,
        u.origin_id           originId,
        u.prev_id             prevId,
        u.prev_usage_id       prevUsageId,
        u.prev_times          prevTimes,
        u.prev_option         prevOption,
        u.prev_status         prevStatus,
        u.usage_dept          usageDept,
        u.usage_deptname      usageDeptname,
        u.task_id             taskId,
        u.task_name           taskName,
        u.system_id           systemId,
        u.net_no              netNo,
        u.net_mode            netMode,
        u.duty_id             dutyId,
        u.flow_id             flowId,
        u.plan_id             planId,
        u.create_user as    createUser,
        u.create_username   createUsername,
        u.create_dept       createDept,
        u.create_deptname   createDeptname,
        u.create_time       createTime,
        u.update_user       updateUser,
        u.update_username   updateUsername,
        u.update_dept       updateDept,
        u.update_deptname   updateDeptname,
        u.update_time       updateTime
    </sql>

    <select id="nextUsageId" resultType="Long" useCache="false">
        select nextval('sequence_usage')
    </select>

    <select id="queryById" resultType="com.cowave.sys.model.resource.ResourceUsage">
        select
        <include refid="usageField"/>
        from resource_usage u where u.id = #{id}
    </select>

    <select id="queryByTspdId" resultType="com.cowave.sys.model.resource.ResourceUsage">
        select
        <include refid="usageField"/>
        from resource_usage u
        <![CDATA[
        where u.tspd_id = #{tspdId} and merge_id = -1 and usage_status < 500
        ]]>
    </select>

    <select id="queryByTspdIdWithTime" resultType="com.cowave.sys.model.resource.ResourceUsage">
        select
        <include refid="usageField"/>
        from resource_usage u
        <![CDATA[
        where u.tspd_id = #{tspdId} and merge_id = -1 and usage_status < 500
          and time_begin < #{timeEnd} and time_end > #{timeBegin}
        ]]>
    </select>

    <select id="list" resultType="com.cowave.sys.model.resource.ResourceUsage">
        select
        <include refid="usageField"/>
        from resource_usage u where usage_id = #{usageId} and merge_id = -1
    </select>

    <select id="conflictList" resultType="com.cowave.sys.model.resource.ResourceUsage">
        select
        <include refid="usageField"/>
        from resource_usage u
        WHERE tspd_id = #{usage.tspdId}
        <if test="taskId != null">
            and task_id != #{taskId}
        </if>
        <if test="netNo != null">
            and net_no != #{netNo}
        </if>
        <![CDATA[
            and usage_status < 500
            and down_freq_begin < #{usage.freqEnd} and down_freq_end > #{usage.freqBegin}
            and time_begin < #{usage.timeEnd} and time_end > #{usage.timeBegin}
        ]]>
        limit 1
    </select>

    <insert id="createUsage" useGeneratedKeys="true" keyProperty="usage.id" keyColumn="id">
        insert into resource_usage(usage_id,
                                   usage_status,
                                   usage_type,
                                   sat_id,
                                   sat_name,
                                   down_beam_id,
                                   down_beam_name,
                                   down_tunnel_id,
                                   down_tunnel_name,
                                   tspd_id,
                                   tspd_name,
                                   up_beam_id,
                                   up_beam_name,
                                   up_tunnel_id,
                                   up_tunnel_name,
                                   sat_version,
                                   tspd_version,
                                   up_beam_version,
                                   up_tunnel_version,
                                   down_beam_version,
                                   down_tunnel_version,
                                   time_begin,
                                   time_end,
                                   timewidth,
                                   down_freq_begin,
                                   down_freq_end,
                                   bandwidth,
                                   freq_diff,
                                   up_freq_begin,
                                   up_freq_end,
                                   usage_unit,
                                   sfd,
                                   sfp,
                                   erip,
                                   gt,
                                   cbi,
                                   cbo,
                                   gain,
                                   compensate_in,
                                   compensate_out,
                                   tspd_type,
                                   down_beam_type,
                                   down_tunnel_type,
                                   down_freq_type,
                                   down_polarization,
                                   up_beam_type,
                                   up_tunnel_type,
                                   up_freq_type,
                                   up_polarization,
                                   src_id,
                                   src_type,
                                   occupy_dept,
                                   occupy_deptname,
                                   owner_dept,
                                   owner_deptname,
                                   from_dept,
                                   form_deptname,
                                   form_time,
                                   form_usage,
                                   form_flow,
                                   form_task,
                                   form_duty,
                                   merge_id,
                                   origin_id,
                                   prev_id,
                                   prev_usage_id,
                                   prev_times,
                                   prev_option,
                                   prev_status,
                                   usage_dept,
                                   usage_deptname,
                                   task_id,
                                   task_name,
                                   system_id,
                                   net_no,
                                   net_mode,
                                   duty_id,
                                   flow_id,
                                   plan_id,
                                   create_user,
                                   create_username,
                                   create_dept,
                                   create_deptname,
                                   create_time,
                                   update_user,
                                   update_username,
                                   update_dept,
                                   update_deptname,
                                   update_time)
        select #{usage.usageId},
               #{usage.usageStatus},
               #{usage.usageType},
               sat_id,
               sat_name,
               down_beam_id,
               down_beam_name,
               down_tunnel_id,
               down_tunnel_name,
               tspd_id,
               tspd_name,
               up_beam_id,
               up_beam_name,
               up_tunnel_id,
               up_tunnel_name,
               sat_version,
               tspd_version,
               up_beam_version,
               up_tunnel_version,
               down_beam_version,
               down_tunnel_version,
               #{usage.timeBegin},
               #{usage.timeEnd},
               #{usage.timewidth},
               #{usage.downFreqBegin},
               #{usage.downFreqEnd},
               #{usage.bandwidth},
               freq_diff,
               #{usage.downFreqBegin} + freq_diff,
               #{usage.downFreqEnd} + freq_diff,
               usage_unit,
               sfd,
               sfp,
               erip,
               gt,
               cbi,
               cbo,
               gain,
               compensate_in,
               compensate_out,
               tspd_type,
               down_beam_type,
               down_tunnel_type,
               down_freq_type,
               down_polarization,
               up_beam_type,
               up_tunnel_type,
               up_freq_type,
               up_polarization,
               src_id,
               src_type,
               occupy_dept,
               occupy_deptname,
               owner_dept,
               owner_deptname,
               from_dept,
               form_deptname,
               form_time,
               form_usage,
               form_flow,
               form_task,
               form_duty,
               #{usage.mergeId},
               #{usage.originId},
               #{usage.prevId},
               #{usage.prevUsageId},
               #{usage.prevTimes},
               #{usage.prevOption},
               #{usage.prevStatus},
               #{usage.usageDept},
               #{usage.usageDeptname},
               #{usage.taskId},
               #{usage.taskName},
               #{usage.systemId},
               #{usage.netNo},
               #{usage.netMode},
               #{usage.dutyId},
               #{usage.flowId},
               #{usage.planId},
               #{user.accessUser},
               #{user.accessUsername},
               #{user.accessDept},
               #{user.accessDeptname},
               #{user.accessTime},
               #{user.accessUser},
               #{user.accessUsername},
               #{user.accessDept},
               #{user.accessDeptname},
               #{user.accessTime}
        from resource_pool where src_id = #{usage.srcId} limit 1
    </insert>

    <insert id="createMergeUsage" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into resource_usage(usage_id,
                                   usage_status,
                                   usage_type,
                                   sat_id,
                                   sat_name,
                                   down_beam_id,
                                   down_beam_name,
                                   down_tunnel_id,
                                   down_tunnel_name,
                                   tspd_id,
                                   tspd_name,
                                   up_beam_id,
                                   up_beam_name,
                                   up_tunnel_id,
                                   up_tunnel_name,
                                   sat_version,
                                   tspd_version,
                                   up_beam_version,
                                   up_tunnel_version,
                                   down_beam_version,
                                   down_tunnel_version,
                                   time_begin,
                                   time_end,
                                   timewidth,
                                   down_freq_begin,
                                   down_freq_end,
                                   bandwidth,
                                   freq_diff,
                                   up_freq_begin,
                                   up_freq_end,
                                   usage_unit,
                                   sfd,
                                   sfp,
                                   erip,
                                   gt,
                                   cbi,
                                   cbo,
                                   gain,
                                   compensate_in,
                                   compensate_out,
                                   tspd_type,
                                   down_beam_type,
                                   down_tunnel_type,
                                   down_freq_type,
                                   down_polarization,
                                   up_beam_type,
                                   up_tunnel_type,
                                   up_freq_type,
                                   up_polarization,
                                   src_id,
                                   src_type,
                                   occupy_dept,
                                   occupy_deptname,
                                   owner_dept,
                                   owner_deptname,
                                   from_dept,
                                   form_deptname,
                                   form_time,
                                   form_usage,
                                   form_flow,
                                   form_task,
                                   form_duty,
                                   merge_id,
                                   origin_id,
                                   prev_id,
                                   prev_usage_id,
                                   prev_times,
                                   prev_option,
                                   prev_status,
                                   usage_dept,
                                   usage_deptname,
                                   task_id,
                                   task_name,
                                   system_id,
                                   net_no,
                                   net_mode,
                                   duty_id,
                                   flow_id,
                                   plan_id,
                                   create_user,
                                   create_username,
                                   create_dept,
                                   create_deptname,
                                   create_time,
                                   update_user,
                                   update_username,
                                   update_dept,
                                   update_deptname,
                                   update_time)
        select usage_id,
               usage_status,
               usage_type,
               sat_id,
               sat_name,
               down_beam_id,
               down_beam_name,
               down_tunnel_id,
               down_tunnel_name,
               tspd_id,
               tspd_name,
               up_beam_id,
               up_beam_name,
               up_tunnel_id,
               up_tunnel_name,
               sat_version,
               tspd_version,
               up_beam_version,
               up_tunnel_version,
               down_beam_version,
               down_tunnel_version,
               time_begin,
               time_end,
               timewidth,
               #{downFreqBegin},
               #{downFreqEnd},
               #{bandwidth},
               freq_diff,
               #{downFreqBegin} + freq_diff,
               #{downFreqEnd} + freq_diff,
               usage_unit,
               sfd,
               sfp,
               erip,
               gt,
               cbi,
               cbo,
               gain,
               compensate_in,
               compensate_out,
               tspd_type,
               down_beam_type,
               down_tunnel_type,
               down_freq_type,
               down_polarization,
               up_beam_type,
               up_tunnel_type,
               up_freq_type,
               up_polarization,
               -1,
               src_type,
               occupy_dept,
               occupy_deptname,
               owner_dept,
               owner_deptname,
               from_dept,
               form_deptname,
               form_time,
               form_usage,
               form_flow,
               form_task,
               form_duty,
               merge_id,
               origin_id,
               prev_id,
               prev_usage_id,
               prev_times,
               prev_option,
               prev_status,
               usage_dept,
               usage_deptname,
               task_id,
               task_name,
               system_id,
               net_no,
               net_mode,
               duty_id,
               flow_id,
               plan_id,
               create_user,
               create_username,
               create_dept,
               create_deptname,
               create_time,
               update_user,
               update_username,
               update_dept,
               update_deptname,
               update_time
        from resource_usage where id = #{id}
    </insert>

    <update id="updateMergeId">
        update resource_usage set merge_id = #{mergeId}
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>








